<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<item label="Chrome">
			<action name="Execute">
				<execute>google-chrome</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Libreoffice">
			<action name="Execute">
				<execute>libreoffice5.2</execute>
			</action>
		</item>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<menu id="root-menu-7236" label="Internet">
			<item label="Wicd">
				<action name="Execute">
					<execute>wicd-gtk</execute>
				</action>
			</item>
			<item label="Deluge">
				<action name="Execute">
					<execute>deluge</execute>
				</action>
			</item>
			<item label="gPodder">
				<action name="Execute">
					<execute>gpodder</execute>
				</action>
			</item>
			<item label="Remmina">
				<action name="Execute">
					<execute>remmina</execute>
				</action>
			</item>
			<item label="FileZilla">
				<action name="Execute">
					<execute>filezilla</execute>
				</action>
			</item>
			<item label="HexChat">
				<action name="Execute">
					<execute>hexchat</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-212158" label="Programming">
			<item label="Emacs">
				<action name="Execute">
					<execute>emacs</execute>
				</action>
			</item>
			<item label="Geany">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
			<item label="Sublime Text">
				<action name="Execute">
					<execute>subl</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-502227" label="Multimedia">
			<item label="Clementine">
				<action name="Execute">
					<execute>clementine</execute>
				</action>
			</item>
			<item label="Harmony">
				<action name="Execute">
					<execute>Harmony</execute>
				</action>
			</item>
			<separator/>
			<item label="Mirage">
				<action name="Execute">
					<execute>mirage</execute>
				</action>
			</item>
			<item label="Pinta">
				<action name="Execute">
					<execute>pinta</execute>
				</action>
			</item>
			<separator/>
			<item label="Evince">
				<action name="Execute">
					<execute>evince</execute>
				</action>
			</item>
			<item label="Calibre">
				<action name="Execute">
					<execute>calibre</execute>
				</action>
			</item>
			<separator/>
			<item label="mpv">
				<action name="Execute">
					<execute>mpv --player-operation-mode=pseudo-gui</execute>
				</action>
			</item>
			<item label="DesMuMe">
				<action name="Execute">
					<execute>desmume</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-34735" label="Config">
			<item label="ObMenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="ObConf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Volume">
				<action name="Execute">
					<execute>pavucontrol</execute>
				</action>
			</item>
			<item label="Mousepad">
				<action name="Execute">
					<execute>mousepad</execute>
				</action>
			</item>
			<item label="ARandR">
				<action name="Execute">
					<execute>arandr</execute>
				</action>
			</item>
			<item label="Nitrogen">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
			<separator/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<item label="Exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
