<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<menu id="root-menu-7236" label="Internet">
			<item label="Remmina">
				<action name="Execute">
					<execute>remmina</execute>
				</action>
			</item>
			<item label="Deluge">
				<action name="Execute">
					<execute>deluge</execute>
				</action>
			</item>
			<item label="Hexchat">
				<action name="Execute">
					<execute>hexchat</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-212158" label="Programming">
			<item label="Sublime Text">
				<action name="Execute">
					<execute>subl</execute>
				</action>
			</item>
			<item label="RStudio">
				<action name="Execute">
					<execute>rstudio</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-34735" label="Config">
			<item label="ObMenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="ObConf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Mousepad">
				<action name="Execute">
					<execute>mousepad</execute>
				</action>
			</item>
			<separator/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<item label="Exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
